@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


body{
    font-family: 'Roboto', sans-serif;
    background-image: url("../../public/image/fond.jpg");
    background-size: cover;
}

.carte{
    box-shadow: 1px 5px 10px black;
}

h1{
    font-family: 'Bungee Spice', cursive;
}

h1 span{
    font-family: 'Bungee Inline', cursive;
    padding: 0px;
    margin: 0px;
}

/* img{
    width: 200px;
    height: 200px;
} */

.box-entete{
    border-bottom: 0.2px solid black;
}

.box-bio p{
    text-align: justify;
    font-size: 0.5rem;
}

.footer{
    background-color: #52668b;
}

i{
    color: white;
}

.metier{
    font-style: italic;
}

